
.hamburger-menu{
  display: none;
}

nav{
    width: 100%;
    transition: all .2s ease;
  }

  .nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    transition: all .2s ease;
    z-index: 2;  
    width: 80%;
    margin: auto;
  }

  .nav-desktop{
    position: fixed;
    margin: auto;
    z-index: 999;
  }

  .nav-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .nav-contact a:first-of-type{
    display: flex;
    align-items: center;
    gap: .25rem;
  }

  .nav-contact svg{
    color: #c58525;
  }

  .coloredBackground{
    background-color: #ffbd59;
  }


  
  .hambuger-content-wrapper{
    height: 100dvh;
  }
  .hamburger-content header img{
    margin: auto;
  }
  .contact-nav{
    background-color: #e09f3e;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    transition: all .2s ease;
  }
  
  .contact-nav::after{
    background-color: transparent;
  }
  
  .contact-nav:hover{
    background-color: #f8c06b;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  header img{
    height: 160px;
  }
  
  ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  ul a{
    color: white;
  }
  
  ul li{
    /* margin-right: 2rem; */
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-bottom: .25rem;
  }
  
  ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  
  ul li:hover::after{
    width: 100%;
    opacity: 1;
  }

  ul li.no-underline::after{
    content: none;
  }

  ul li:hover ul.dropdown{
    display: block;
  }

  ul li a{
    text-decoration: none;
    color: white;
  }

  .services-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem ;
  }
  
  .dropdown{
    position: absolute;
    width: 300px;
    z-index: 999;
    display: none;
    background-color: #faad3a;
    border-radius: 0 0 10px 10px;
  }

  .dropdown li::after{
    content: none;
  }

  .dropdown li{
    width: 100%;
    padding: 0.5rem 1rem;
    transition: all .2s ease;
    border-bottom: 2px solid #ffa41c;
  }

  .dropdown li:last-child{
    border-bottom: none;
  }

  .dropdown li:hover{
    background-color: #ffbb55;
  }

  .dropdown li a{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .sticky-nav{
    margin-top: 0;
    width: 100%;
    border-radius: 0;
    z-index: 99;
    background-color: #ffbd59;
  }

  .cta .cta-text{
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  .cta-label{
    text-align: center;
  }

  .cta-label span{
    font-weight: bold;  }

  .exit-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    z-index: 999;
    height: 25px;
    width: 25px;
  }

  @media screen and (max-width: 1380px) {

    ul li::after{
      content: none;
    }

    .dropdown-menu li{
      background-color: #ffac26;
      border-radius: 10px;
      width: 100%;
      padding: .5rem .5rem;
      border-bottom: .25rem solid #f59402;
      margin-top: 0.25rem;
    }

    .nav-wrapper-mb{
      display: block;
      position: absolute;
      z-index: 999;
      top: 0;
      right: 0;
    }

    .mb-cta{
    display: block;
  }

  .mb-cta a{
    color: white;
    text-decoration: none;
  }

  .exit-overlay{
    height: 100vh;
    width: 100%;
    background-color: rgb(43, 43, 43);
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
  }

  .hamburger-slide-in{
    transform: translateX(0);
  }

  .hamburger-slide-out{
    transform: translateX(-1400px);
  }

  nav{
    margin-top: 0;
    justify-content: unset;
  }

  .logo-hero-mb{
    display: block;
    z-index: 2;
  }

    .nav-wrapper{
        display: none;
      }
    
      .background-wrapper{
        position: relative;
      }
    
      .hamburger-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* position: fixed; */
        top: 0;
        right: 10px;
        width: 100%;
        height: fit-content;
        z-index: 3;
        background-color: #ffbd59;
        padding: 0 1rem;
      }
    
      .hamburger-open{
        display: block;
        position: fixed;
        width: 100%;
        height: 100dvh;
      }
    
      .menu-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        cursor: pointer;
        padding: .2rem;
        z-index: 4;
        transition: all .5s;
        height: fit-content;
        width: fit-content;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }

      .hamburger-content{
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        border-radius: 0;
        height: 100%;
        background-color: #ffbd59;
        z-index: 5;
        gap: 2rem;
        transition: all .5s;
      }

      .cta{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: .5rem;
      }

      .hamburger-content hr{
        appearance: none;
        border: none;
        outline: none;
        background-color: #ffffff;
        width: 90%;
        height: 2px;
      }

      .hamburger-content.open{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
      }

      .no-scroll{
        overflow: hidden;
      }

      .hamburger-content .hamburger-links{
        display: flex;
        flex-direction: column; /* Or row, depending on layout */
        list-style: none;
        padding: 0;
        margin: 0;
        gap: .5rem;
        width: 100%;
        background-color: #df9b35;
        padding: 2rem 0;
        border-top: 2px solid #df9425;
        border-bottom: 2px solid #df9425;
;
      }

      .hamburger-content ul li a,.hamburger-content p{
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
        justify-content: start;
      }

      .hamburger-content ul li{
        width: 100%;
        padding: 0 2rem;
      }

    .dropdown-mb{
      display: flex;
      flex-direction: column;
      transition: all .2s ease;
    }

    .dropdown-label{
      color: white;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between
    }

    .dropdown-menu {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.3s ease;
      pointer-events: none;
    }

    .dropdown-menu.open {
      display: flex;
      max-height: 500px; /* Make sure this is high enough to show all items */
      opacity: 1;
      pointer-events: auto;
      flex-wrap: wrap;
      gap: 0;
    }

    .dropdown-menu li {
      flex: 1 1 auto;    }

    .rotated {
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }

    .dropdown-mb {
      justify-content: space-between;
    }

    .dropdown-mb .dropdown-toggle svg{
      transition: all .2s ease;
    }

    .dropdown-menu li a:active {
      transform: scale(0.95);
      background-color: rgba(0, 0, 0, 0.05); /* optional */
    }
  }

