.landing-hero-mb{
    display: none;
}

.contact-mini-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 2;
    color: white;
    width: 70%;
    flex: 1;
}

.contact-mini{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    width: 100%;
    z-index: 2;
    color: white;
    flex: 1;
}

.button-group{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cta-button-group{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cartoon-box{
    border-radius: 20px;
    border: 4px solid black;
    box-shadow: 6px 6px 0px 0px black;
    transition: transform 0.2s ease;
}

.section-title span{
    color: #ffbd59;
}

.field-group-container{
    display: flex;
    gap: 1.5rem;
}

.field-group{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 100%;
}

.field-group label{
    font-weight: 600;
}

.field-group input{
    background-color: #ffd18d;
    border: none;
    padding: .25rem;
}

.overlay-video{
    display: none;
}

.contact-mini-container,
.video-desktop {
  flex: 1;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.video-desktop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.4);
    z-index: 0;
}
.landing-hero-wrapper{
    width: 100%;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paint-jobs-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2561e8;
}

.landing-hero{
    display: flex;
    height: 100vh;
    width: 70%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.color-consult-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffefd6;
}

.color-visual-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-consultation .contact-mini{
    color: black;
}

.card{
    height: 100%;
    width: 70%;
    border-radius: 10px;
    padding: 6rem 4rem;
}

.cta-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    width: 100%;
}

.column{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    height: 70vh;
    z-index: 2;
    color: white;
}

.column .column-sub{
    margin-top: 2rem;
}

.column .column-sub h1{
    line-height: 4rem;
}


.column span{
    color:#ffbd59;
}

.column .column-sub p{
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.button-group{
    margin-top: 1rem;
    display: flex;
    align-self: start;
}

.column video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    left: 0;
    top: 0;
}

.list-container{
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
}

.list-container-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffefd6;
}


.paint-jobs{
    display: flex;
    align-items: center;
}

.painting-list{
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    gap: 2rem;
    margin: 2rem 0;
}

.item-description{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: start;
    font-weight: normal;
}

.item-description li{
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.item-description li svg{
    width: 20px;
    height: 20px;
    color: #2561e8;
    flex: 0 0 auto;
}

.item-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
    background-color: #ffdfaf;
    overflow: hidden;
}

.item-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2); /* adjust opacity/color here */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    pointer-events: none; /* Let mouse events pass through */
  }

  .item-card:hover::before {
    opacity: 1;
  }

.item-card p{
    font-size: 1rem;
}

.item-info{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 1rem;
}

.video-container{
    width: 100%;
    background-color: red;
}

.item-card video{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all .2s;
}

.video-container video:hover{
    filter: grayscale(0%);
}

.slider-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
    flex:2
}

.paint-jobs-title{
    flex:1;
    display: flex;
    flex-direction: column;
}

.slider-item .slider-text{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    top: 20px;
    left: 20px;
}


.slider-item .slider-text p:first-of-type{
    font-weight: bold;
}

.slider-item .slider-location
{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.slider-text p{
    background-color: #ffffff;
    border-radius: 7.5px;
    padding: 2px 10px;
    width: fit-content;
}

.slider-image-container > div{
    width: 80%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}


.arrow-slider-container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    padding: 0 1rem;
}

.nav-next{
    right: 0;
}

.arrow-slider-container svg{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all .2s;
    color: #ffffff;
    padding: .5rem;
    border-radius: 100%;
    border: 2px solid white;

}

.arrow-slider-container svg:hover{
    transform: scale(1.1);
}

.color-consultation{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 4rem;
}

.card-title .section-subtitle{
    justify-self: center;
}

.card-title{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.color-consultation-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.color-consultation-text h1{
    text-align: left;
}

.color-consultation img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.faq{
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
    margin-bottom: 6rem;
}

.color-visualization-img{
    width: 100%;
}
.questions-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 4rem ;
    width: 100%;
}

.questions-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    flex: 1 1 40%;
}

.questions-title{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    background-color: #ffb74c;
    border-radius: 10px;
    padding: 1rem 2rem;
    transition:  all .2s;
}

.accordion:hover{
    cursor: pointer;
    background-color: #ffca7b;

}

.panel{
    display: none;
    transition: all .2s;
}

.questions-list{
    padding-left: 1rem;
}

.question-item{
    margin-top: 1rem;
}

.question{
    font-weight: bold;
}

.section-title{
    font-size: 5rem;
    font-family:'Sunborn', sans-serif ;
    line-height: 4rem;
}

.section-subtitle{
    font-size: 4rem;
    font-family:'Sunborn', sans-serif ;
    line-height: 3.5rem;
}

.section-subtitle span{
    color: #2561e8;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
@media screen and (max-width:2100px) {
    .section-title{
        font-size: 3.5rem;
        line-height: 3rem;
    }
}
@media screen and (max-width:1820px) {
    .item-card h2{
        line-height: 1.5rem;
    }

    .page{
        width: 100%;
    }
}

@media screen and (max-width:1700px) {
    .contact-mini{
        margin-top: 1rem;
    }
}
@media screen and (max-width:1380px) {

    .privacy-notice, .button-group p{
        font-size: 0.8rem;
    }

    .slider-image-container{
        flex-direction: column;
    }
    .slider-image-container > div{
        width: 80%;
    }

    .overlay-video{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        z-index: 0;
        opacity: 0.5;
    }

    .video-desktop{
        display: none;
    }

    .column{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .video-column, .video-desktop{
        margin-top: 0;
    }

    .column-sub, .button-group{
        z-index: 2;
    }

    .page{
        padding: 0;
    }

    .card{
        padding: 4rem 2rem;
        border-radius: 0;
    }

    .list-container{
        background-color: #ffefd6;
    }

    .landing-hero{
        padding: 2rem ;
        align-items: center;
    }

    .section-title{
        font-size: 3rem;
    }

    .column .column-sub h1{
        line-height: 3rem;
    }

    .column .column-sub p{
        font-size: 1rem;
    }
}

@media screen and (max-width:1100px) {

    .card{
        width: 90%;
    }

    .list-container-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffefd6;
    }

    .contact-mini-container{
        width: 100%;
        padding: 1rem;
    }

    .sub-heading h1{
        line-height: 2rem;
    }

    .cta-card .section-subtitle{
        text-align: center;
    }

    .color-consultation-wrapper{
        background-color: #ffefd6;
    }

    .button-group{
        flex-direction: column;
        width: 100%;
    }

    .benefits-hero{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: .75rem;
    }

    .benefit-item{
        display: flex;
        align-items: center;
        gap: .25rem;
    }

    .benefit-item svg{
        color: #2561e8;
    }

    .benefit-item p{
        width: fit-content;
    }
    
    .section-title{
        text-align: center;
        font-size: 3rem;
    }

    .contact-mini-container p{
        text-align: center;
    }

    .landing-hero{
        display: none;
    }

    .column{
        height: 100%;
        z-index: 3;
    }

    .column video{
        filter: brightness(0.3);
    }

    .landing-hero-mb{
        display: flex;
        position: relative;
        height: 100vh;
    }

    .contact-mini-container{
        z-index: 2;
        background-color: transparent;
        color: white;
        padding-inline: 1rem;
    }

    .video-column{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .slider-image-container  > div{
        width: 100%;
    }

    .painting-list{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .painting-list .item-card{
        width: 100%;
    }

    .color-consultation{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .color-consultation img{
        width: 90%;
        object-fit: cover;
    }

    .paint-jobs{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .paint-jobs-title{
        gap: .5rem;;
    }
}

@media screen and (max-width:836px) {
    .section-title{
        font-size: 3rem;
        line-height: 2.5rem;
    }

    h3{
        font-size: 1.5rem;
    }

    .paint-jobs-title .section-subtitle{
        font-size: 2rem;
        line-height: 1.8rem;
    }
}

@media screen and (max-width:768px) {
    
    .painting-list{
        flex-direction: column;
    }

    .column .column-sub{
        margin-top: 0;
    }

    .item-card{
        width: 50%;
    }

    .color-consultation{
        width: 100% ;
    }
}

@media screen and (max-width:678px) {

    .video-column{
        width: 100%;
        z-index: 0;
    }

    .landing-hero{
        padding: 0;
    }
    .section-subtitle{
        font-size: 2rem;
        line-height: 1.8rem;
    }
}

@media screen and (max-width:426px) {

    .section-title{
        font-size: 2.5rem;
    }

    .column .column-sub h1{
        line-height: 2.5rem;
    }

    .column .column-sub p{
        margin-top: 1rem;
    }
}

@media screen and (max-width:320px) {
    .landing-hero{
        padding: 1rem;
    }
}