.review-page{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .review-content{
    width: 70%;
  }

  .widget-container{
    display: flex;
    padding-top: 5rem;
  }