
.chooseus-wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fff7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chooseus{
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 6rem;
}

.chooseus h1{
    z-index: 2;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    font-family: 'Sunborn', sans-serif;
}

.chooseus-text, .whyus-reasons{
    flex: 1;
}

.chooseus span{
    color: #ffbd59;
}

.whyus-reasons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.whyus-reasons .reason{
    display: flex;
    align-items: center;
    justify-content: start;
    flex: 1;
    gap: 2rem;
    padding: 2rem 0;
    border-bottom: 2px solid #c7c7c7;
}

.whyus-reasons .reason:last-of-type{
    border-bottom: none;
}

.whyus-reasons .reason svg{
    width: 50px;
}

.reason .number-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2561e8;
    width: 50px;
    height: 50px;
    border-radius:15px;
}

.chooseus-background{
    position: absolute;
    object-fit: cover;
    opacity: 0.3;
    z-index: 0;
    width: 100%;
    top: 0;
    left: 0;
    object-position: 0px -1700px;
}

.swiper-image{
    padding: 3rem 0;
    height: 1000px;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width:1380px) {
    .chooseus-wrapper{
        height: fit-content;
        padding: 2rem 0;
    }

    .whyus-reasons{
        flex-direction: column;
        gap: 3rem;
        flex-wrap: wrap;
    }

    .chooseus-background{
        width: 100%;
        height: 100%;
        object-position: -50px 0;
    }
        .chooseus{
        width: 80%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

@media screen and (max-width:1024px) {


    .whyus-reasons .reason .number-container{
        width: 100px;
    }
    
}